<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Camino needs your location to find nearby drivers and provide accurate pickup coordinates.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiaXNzYW1lbGFqcmFvdWkiLCJhIjoiY21mc25qcm9mMG9iczJtcHV5MGc3eHk4ZSJ9.LjRgJ9sgs2LyMBUAUxhWrg</string>
</dict>
</plist>
